[submodule "point_cloud"]
	path = amsos_analysis/point_cloud
	url = https://github.com/wenyan4work/point_cloud.git
[submodule "amsos_analysis/PyEVTK"]
	path = amsos_analysis/PyEVTK
	url = https://github.com/paulo-herrera/PyEVTK.git
